@import "base/variables";
@import "base/mixins";

// Import typical layout styles

@import "base/type";
// Style-guide
@import "base/style-guide";

//foundation grids
@import "base/foundation";

// Import reusable modules
@import "modules/header";
@import "modules/footer";
@import "modules/buttons";
@import "modules/forms";
@import "modules/banner";


// Reset default browser styles using Normalize
@import "base/normalize";

// Import fonts from Google
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

// Specific project styles, add any section specific sass modules here
@import "pages/landing";
@import "pages/lista_eventos";
@import "pages/ficha_evento";



html, body {
    font-family: $font-complementary;
    height: 100%;
    margin: 0px;
}

a {
    text-decoration:none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}


// containers

section, .section{
  padding: 30px 0px;
}

// contenedor general, centra el contenido
.wrap {
  margin: 0 auto;
  max-width: 1100px;
    @media only screen and (min-width: 40.063em) {
      padding: 0px 0px;
    }
}

// contenedor dentro del grid, da paddings laterales para separar columnas.
.container{
padding:0px 10px;
@media only screen and (max-width: 40.063em) {
      padding: 0px 0px;
    }
}

// ----

.divider{
    height: 2px;
    background-color: $grey;
    margin: 20px 0px;
}