.testimonios-img{
    margin: 10px auto;
}

section.crea-tu-evento{
    background-color: $grey;
    .button__wrap{
        padding-top: 20px;

    }
}

section.testimonios, {
    span{
        color: $c-main-pink;
    }
}

.creador-img{
    padding-bottom: 30px;
}
img.unete{
    width: 100%;
    padding-bottom: 30px;
}
