.testimonios-img{
    margin: 10px auto;
}

.crea-tu-evento_block{
    background-color: $grey;
    padding: 2rem 0;

    .button__wrap{
        padding-top: 20px;

    }
}

section.testimonios, {
    span{
        color: $c-main-pink;
    }
}

.creador-img{
    padding-bottom: 30px;

    img {
        width: 100%;
    }
}
img.unete{
    width: 100%;
    padding-bottom: 30px;
}

.como-crea {
    background-color: $grey;
    border: solid 10px white;
    padding: 0 0 1rem;

    .como-crea-info {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 642px) {
    .como-crea {
        height: 30rem;
        padding: 0;
    }
}