
.top-heading {
    width: 100%;
    height: 100%;
    background-image: url("../img/rooof_header.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
}

.top-heading_text {
    text-align: center;
    color: white;
    position: absolute;
        top: 60%;
        left: 0;
        right: 0;
    transform: translateY(-50%);
}

.top-heading h1 {
    color: white;
    line-height: 2.3rem;
    font-size: 70px;
    font-weight: $weight-extra-bold;
}

.top-heading p {
    color: white;
    font-size: 42px;
    font-family: $font-primary;
    line-height: 1.1em;
    margin: 2rem auto 0 auto;
    max-width: 520px;
    padding-bottom: 40px;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
    width: 50%;
}

.sugerencias {
    width: 100%;
    background: white;
}



.evento {
    overflow: hidden;
    width: 100%;
}

.evento li {
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin: 1.5% 1.5% 0 0;
    padding: 0;
    width: 32.33%;
    height: 250px;
}

.evento li.uno {
    background: url("../img/destacado_evento_1.jpg") no-repeat;
    background-size: cover;
}

.evento li.dos {
    background: url("../img/destacado_evento_2.jpg") no-repeat;
    background-size: cover;
}

.evento li.tres {
    background: url("../img/destacado_evento_3.jpg") no-repeat;
    background-size: cover;
}

.evento li.cuatro {
    background: url("../img/destacado_evento_4.jpg") no-repeat;
    background-size: cover;
}

.evento li.cinco {
    background: url("../img/destacado_evento_5.jpg") no-repeat;
    background-size: cover;
}

.evento li.seis {
    background: url("../img/destacado_evento_6.jpg") no-repeat;
    background-size: cover;
}

.evento {
    margin: 0px;
    padding: 0px;
}

.evento li.tres, .evento li.seis {
    margin-right: 0px;
}
.evento-item a {
    background: rgba(255, 55, 102, 0);
    display: block;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
    height: 100%;
}
.evento-item a:hover {
    background: rgba(255, 55, 102, 0.5);
}

.vertical-center {
    position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    transform: translateY(-50%);
}

.evento-item .vertical-center {
    padding: 1rem 2rem;
}
.evento-item_title{
    color: #FFF;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0;
    text-shadow: 2px 2px 1px rgba(255, 55, 102, 1);
}
.evento-item_tag {
    color: #FFF;
    font-size: 1.1rem;
    line-height: 1rem;
    text-shadow: none;
    text-transform: uppercase;
}

.push {
    clear: both;
}

.busca {
    margin: 50px 0px;
}

.asistir {
    background: #eaeaea;
    width: 100%;

    .icon-text {
        text-align: center;

        .icons {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: solid 5px $c-grayLighter;
            line-height: 0em;
            margin: 2rem auto 1rem;

            p {
                color: $c-grayLighter;
                font-family: $font-primary;
                font-size: 50px;
                font-weight: 700;
                line-height: 1.4em;
                margin: 0px;
                text-align: center;
                padding: 0px;
            }
        }
    }

    .complementary {
        margin: 1rem 0 1rem 0;
    }

    .icon-text h3 {
        font-size: 20px;
        color: $c-main-pink;
        font-weight: 500;
    }

    .icon-text p {
        font-size: 16px;
        font-family: 'PT Serif', serif;
        color: $c-main-gray;
        line-height: 1.5em;
    }
}


@media screen and (max-width: 800px) {

    .top-heading_text {
        p {
            font-size: 2rem;
            width: 80%;
        }
    }

    .evento li.uno, .evento li.dos, .evento li.tres, .evento li.cuatro, .evento li.cinco, .evento li.seis {
        margin-right: 0;
    }

    .evento li {
        margin: 0 1.5% 1rem;
        width: 48%;
    }

}

@media screen and (max-width: 500px) {
    .top-heading_text {
        p {
            font-size: 1.5rem;
            width: 90%;
        }
    }

    .evento li {
        margin: 0 1.5% 1rem;
        width: 100%;
    }
}


