section.lista-eventos{
background-color: $bg-color;
  ul{
    padding-left: 0;
  }
}

.lista-evento-item{
    background-color: $c-Lightest;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;

        .evento-info{
        padding: 0px 15px 5px 15px;
        height: 140px;
        overflow: hidden;
        }

        .four-columns {
          height: 170px;
        }
    }

.event-list_container {
    background: rgba(255, 55, 102, 1);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;

    &:hover {
        img {
            opacity: .5;
        }
    }
}

.event-list_container img {
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
}

.precio {
  background: url("../img/etiqueta.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 110px;
  position: absolute;
    bottom: 15px;
    left: 15px;
  padding: 3px 0px 0px 20px;
  z-index: 333;
    p{
      font-size: 90%;
    }
}

.evento-footer{
  padding: 15px 15px 5px 15px;
  }

.host-info{
  float: left;
  max-width: 60%;
}
.host-img{
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 5px;
  width: 40px;
  vertical-align: middle;

    img{
      border-radius: 50%;
    }

}

.btn-lista-evento{
    float: right;
    padding-top: 5px;
}
.host-name{
  display: inline-block;
   a{
      font-size: 14px;
      line-height: 2.5rem;
    }

}

@include responsive($small-break){
  .evento-footer{
  padding: 0px 15px;
  }

  .host-img{
    width: 35px;
    height: 35px;
  }

}








