.lista-eventos{
background-color: $bg-color;
padding-top: 70px;
}

.lista-evento-item{
    background-color: $c-Lightest;
        .evento_info{
        padding: 15px 15px 5px 15px;
        }
    }

a.img{
    position: relative;
    overflow: hidden;

    &:hover{
      display: block;
    }
}
.img-evento{

  background-color: transparentize($c-main-pink, 0.7);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  top:0;
   img{

    display: block;
    overflow: hidden;
   }
}

.host-info{
    padding-top: 10px;
}
.host{
    float: left;
     p{
        line-height: 1rem;
    }

}
.host-img{
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

.evento-btn{
    float: right;
}





