.testimonios-img{
    margin: 10px auto;
}

.crea-tu-evento_block{
    background-color: $grey;
    padding: 2rem 0;

    .button__wrap{
        padding-top: 20px;

    }
}

section.testimonios, {
    span{
        color: $c-main-pink;
    }
}

.creador-img{
    padding-bottom: 30px;

    img {
        width: 100%;
    }
}

.crea-main-img {
    background: url("../img/behost.jpg") no-repeat center;
    height: 380px;
    margin: 0 0 0 2rem;
    width: 60%;
    float: left;
}

.crea-main-text {
    float: left;
    padding: 0 1.5rem;
    width: 35%;
}

@media screen and (min-width: 600px) and (max-width: 780px) {
    .crea-main-img {
        width: 50%;
    }

    .crea-main-text {
        width: 44%;
    }
}

@media screen and (max-width: 600px) {
    .crea-main-img {
        margin: 0;
        width: 100%;
    }

    .crea-main-text {
        margin: 2rem auto 0;
        width: 100%;
    }
}

// .unete-img{
//     width: 100%;
//     padding-bottom: 30px;
// }

.como-crea {
    background-color: $grey;
    border: solid 10px white;
    padding: 0 0 1rem;

    .como-crea-info {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 642px) {
    .como-crea {
        height: 30rem;
        padding: 0;
    }
}