
section{
  padding-bottom: 30px;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px;
}


/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 30px 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */




/*  GRID OF TWELVE   ============================================================================= */

.span12 {
  width: 100%;
}

.span11{
  width: 91.53%;
}

.span10 {
  width: 83.06%;
}

.span9 {
  width: 74.6%;
}

.span8 {
  width: 66.13%;
}

.span7 {
  width: 57.66%;
}

.span6 {
  width: 49.2%;
}

.span5 {
  width: 40.73%;
}

.span4 {
  width: 32.26%;
}

.span3 {
  width: 23.8%;
}

.span2 {
  width: 15.33%;
}

.span1 {
  width: 6.86%;
}
/*  LESS THAN 780 PIXELS */

@include responsive($big-break) {
  // e.g. iPad, tablets, small browsers
  .col {
    margin: 1% 0 1% 0%;
  }
  .col:first-child {
    margin-right: 1.8%;
    } /* all browsers except IE6 and lower */

  .span12,
  .span11,
  .span10,
  .span8,{
    width: 100%;
    }

  .span7,
  .span6,
  .span5,
  .span4{
    width:49%;
  }
  .span3,
  .span2,
  .span1 {
    width: 100%;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;

  }
  .span12 {
    width: 100%;
  }
  .span11 {
    width: 100%;
  }
  .span10 {
    width: 100%;
  }
  .span9 {
    width: 100%;
  }
  .span8 {
    width: 100%;
  }
  .span7 {
    width: 100%;
  }
  .span6 {
    width: 100%;
  }
  .span5 {
    width: 100%;
  }
  .span4 {
    width: 100%;
  }
  .span3 {
    width: 100%;
  }
  .span2 {
    width: 100%;
  }
  .span1 {
    width: 100%;
  }
}


