$c-Lightest: #fff;
$c-light-gray: #8e8e8e;
$c-grayLighter: #a4a1a1;
$c-dark-gray: #bbbaba;
$c-main-gray: #333;
$c-main-pink: #ff3766;

// color style-guide
$teal:  #39cccc;

// background color

$grey:   #eaeaea;
$bg-color: $grey;

// Tags colors
//

$blue:  #0e96a5;
$teal:  #39cccc;
$green: #49b000;
$orange:  #ff8500;
$red:     #ff4136;

// Responsive breakpoints
$small-break: 480px;
$big-break: 730px;

// Margin
$margin:0;
$margin-bottom:2rem;

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

