//**
// Alerts & Notifications
//**

.alert {
  @include clearfix;
  margin-bottom: $padding;
  padding: 10px 50px;
  text-align: center;
  width: 100%;
  margin: 6px auto;
  color: white;

  //&.alert-danger {
  //  background: lighten($danger-color, 35);
  //  border-color: $danger-color;
  //  color: darken($danger-color, 15);
  //}

  &.alert-success {
    background: $success;
    p,
    h3,
    .h3{
      color: white;
    }
  }

    &.alert-error{
    background: $error;
  }


  &.alert-info {
    border: solid 3px lighten($c-main-gray,50);

  }

  p,h1,h2,h3,h4,h5,h5,.h1,.h2,.h3,.h4,.h5,.h6,.p{
    font-family: $font-complementary;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
