

/* --------------------header-------------------- */

header {
    position: fixed;
    background: $c-Lightest;
    z-index:9998;
    width: 100%;
    height: 57px;
    border-bottom: solid 1px $c-dark-gray;

    .wrap{
        .logo {
            border-right: solid 1px $c-dark-gray;
            font-weight: 700;
            font-size: 30px;
            color: $c-main-gray;
            line-height: 1.8em;
            margin-left: 1.5rem;
            width: 120px;
            float: left;
        }

        .logo a {
            color: $c-main-gray;
            font-family: $font-primary;
            font-size: 30px;
            font-weight: $weight-extra-bold;
              &:hover{
                    text-decoration: none;
                      }
        }

        nav {
            display: none;

            a{
              color: $c-main-gray;
              font-family: $font-primary;

                 &:hover{
                    color: $c-light-gray;
                    text-decoration: none;
                      }
                }
           }

        .nav-hamburger {
            width:100%;
            height:50px;
            line-height:50px;

            .hamburger{
              background:none;
              position:absolute;
              top:0;
              right:0;
              line-height:50px;
              padding:0px 15px 0px 15px;
              color:#333;
              border:0;
              font-size:2.5em;
              font-weight:bold;
              cursor:pointer;
              outline:none;
              z-index:999;
            }
            .cross{
              background:none;
              position:absolute;
              top:5px;
              right:0;
              padding:0px 15px 0px 15px;
              color:#333;
              border:0;
              font-size:5em;
              line-height:65px;
              font-weight:bold;
              cursor:pointer;
              outline:none;
              z-index:999;
            }
        }
    }
    .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
    .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
    .menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
    .menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
    .menu ul li a:hover {  color: #fff; text-decoration:none;}
    .menu a{text-decoration:none; color:white;}
    .menu a:hover{text-decoration:none; color:white;}

    .glyphicon-home{
      color:white;
      font-size:1.5em;
      margin-top:5px;
      margin:0 auto;
    }
}
        // nav ul.sright {
        //     float: right;
        //     list-style: none;
        //     text-decoration: none;
        // }

        // nav ul.right li {

        //     float: left;
        //     margin-left: 30px;
        //     margin-top: -14px;
        // }
        // nav ul.sright li {
        //     float: left;
        //     margin-left: 30px;
        //     margin-top: -14px;
        // }

        // nav ul.right li a {
        //     color: $c-main-pink;
        //     text-decoration: underline;
        // }

        // nav ul.sright li a {
        //     color: $c-main-pink;
        //     text-decoration: underline;
        // }



@media screen and (min-width: (960px)) {
    header {
        .wrap {

          .logo {
            margin-left: 0;
          }

            .nav-hamburger {
                display: none;
            }

            .menu {
                display: none;
            }

            nav {
                display: block;
                padding-top: 3px;
                width: 100%；
            }

            nav ul.left {
                float: left;
                font-weight: 400;
                list-style: none;
                text-decoration: none;
            }

            nav ul.left li {
                float: left;
                margin: 12px 15px;

            }

            nav ul.left li a {
                color: $c-main-gray;
            }
            nav ul.left li a:hover {
                color: $c-light-gray;
            }

            nav ul.right {
                display: inline-block;
                margin: 8px 0px;

                float: right;
                list-style: none;
                text-decoration: none;

                /* pop-up  las clases como ".sregistro" corresponden
        a la simulacion de user de Slay*/
                .registro, .log-in {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: block;
                    float: right;

                    text-decoration: underline;
                }

                // .sregistro{
                //     color: $c-main-pink;
                //     cursor: pointer;
                //     border: none;
                //     background: none;
                //     display: block;
                //     float: none;
                //     font-size: 13px;
                //     text-decoration: underline;
                //     position: absolute;
                // }

                // .sregistro:before{
                //   content:url('../img/avatar_perfil_user.png'); /* with class ModalCarrot ??*/
                //   padding-right: 10px;
                //   position: absolute;
                //   top: -14px;
                //   left: -50px;
                // }

                .pop, .pop-log {
                  background: $c-Lightest;
                  border: solid 2px $c-main-pink;
                  display: none;
                  position: fixed;
                    top: 5%;
                    left: 40%;
                  outline: 20px solid rgba(0, 0, 0, 0.2);
                  width: 360px;
                    .container{
                      padding: 20px 25px;
                    }
                }

                .pop > span, .pop-log > span {
                  cursor: pointer;
                  position: absolute;
                  top: 10px;
                  right: 0px;
                  color: $c-main-pink;
                  width: 30px;
                  height: 30px;
                }

                .reg-facebook, .reg-twitter {
                  margin: 0px auto;
                  height: 35px;
                }

                .reg-facebook a, .reg-twitter a {
                  text-align: center;
                  color: white;
                  margin: 0px 0px 0px 40px;
                  line-height: 2em;
                }

                .reg-facebook {
                  background: #37589B;
                  margin-bottom: 10px;
                }
                .reg-twitter {
                  background: #60CAEF;
                }

                .reg-facebook img {
                  float: left;
                  width: 10.9px;
                  height: 21.1px;
                  margin: 7px 0px 0px 30px;
                }

                .reg-twitter img {
                  float: left;
                  width: 25px;
                  height: 19.8px;
                  margin: 8px 0px 0px 23px;
                }

                .form-divider__wrap{
                  margin: 5px 0px;
                }

                .reg-line-left, .reg-line-right {
                  width: 133px;
                  height: 20px;
                  border-bottom: solid 1px #a7a7a8;
                }

                .reg-line-left {
                  float: left;
                }

                .zero {
                  float: left;
                  margin: 6px 0px 0px 15px;
                }

                .reg-line-right {
                  float: right;
                }



                .inicia-sesion, .inicia-sesion1 {
                  width: 100%;
                  background: #ededed;
                }

                .footer-reg{
                  padding:20px;
                  margin-bottom: 0px;
                  p.p-complementary{
                    font-size: 14px;
                  }
                  a{
                    font-family: $font-complementary;
                    color:$c-main-pink;
                    text-decoration: underline;
                    font-size: 14px;
                  }
                }


            }

            /* end of pop-up */
        }
    }
}